<div class="container" style="background-color: yellow;">
    <div class="row">
        <div class="col">
            <div>
                {{indice+1}} : {{platoDeLista.nombre}} {{platoDeLista.ingrediente}}
                <a [routerLink]="['/modificar-plato', indice]" [queryParams]="{accion:'1'}">
                    Actualiza
                </a>
                &nbsp;&nbsp;
                <a [routerLink]="['/modificar-plato', indice]" [queryParams]="{accion:'2'}">
                    Elimina
                </a>
            </div>
            <app-caracteristicas-plato
                (caracteristicasPlato)="agregarCaracteristica($event)"></app-caracteristicas-plato>

            <ul style="list-style: none;">
                <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
            </ul>
        </div>
    </div>
</div>
<br>