
<div class="container" style="border-color: 1px solid red;">
    <div class="col">
        <h1 style="text-align: center;">{{titulo}}</h1>

        <br><br>

        <form class="form-group row">
            <fieldset>
                <legend>Añadir plato</legend> 
                <div class="form-group col-md-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
                        [(ngModel)]="cuadroNombreComida">
                </div>

                <div class="form-group col-md-3">
                    <label for="ingrediente">ingrediente</label>
                    <input type="email" name="ingrediente" id="ingrediente" placeholder="ingrediente"
                        class="form-control" [(ngModel)]="cuadroIngrediente">
                </div>

                <br><br>

                <div class="col">
                    <button type="submit" class="btn btn-primary" (click)="agregarPlato()">Agregar</button>
                </div>

                <br><br>
                
            </fieldset>
        </form>
    </div>
</div>

<app-plato-hijo *ngFor="let plato of platos; let i=index;" [platoDeLista]="plato" [indice]="i">

</app-plato-hijo>